
<div class="modal-header">
    <div class="row">
        <div class="col-sm-1">
            <!--<div class='icomatic' style="float:left; display:inline;font-size:20px; margin:5px 0 0 10px;"><span>check</span></div>-->
        </div>
        <div class="col-sm-11">
            <h2>{{data.artist}}</h2>
        </div>
    </div>

</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-1">
          &nbsp;
        </div>
        <div class="col-sm-11">
            <p>{{data.message}}</p>
        </div>
    </div>
</div>
<div class="modal-footer"></div>
