<div class="container">
  <%= render 'layouts/jumbotron' %>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <%= render 'form' %>
    </div>
  </div>
  <% @response['releases'].each_with_index do |release, index| %>
    <%=release['artist-credit'][0]['artist']['name']%>
    <%=release['title']%> </br>
  <%end%>
</div>

