<div class="container">
  <div class="jumbotron jumbotron-releases">

    <h1><%=@band_name%></h1>


    </div>
      <div class="row">
        <div class="col-xs-12 col-md-12">
          <%@json.each do |event|%>
              <div class='well well-lg'>
                <div class="row">
                  <div class="col-md-4 col-lg-4 col-xs-4">
                    <span class="highlight"><%=event['startDate']%></span>
                        <%=@events%>
                   </div>
                  <div class="col-md-4 col-lg-4 col-xs-4"></div>
                  <div class="col-md-4 col-lg-4 col-xs-4"></div>
                </div>
                <%=event%>
              </div>
          <%end%>
        </div>
      </div>
  </div>




