// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.well-release{
  height:100%;
  min-height:60px;
  width:100%;
}
.row{
  margin-bottom: 10px;
}
